/* ########################################### */
/*                 Global                      */
/* ########################################### */

html{
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color:rgb(0,0,0);
    color: #FEFEFE;
}

a{
    color:#FF0042;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:16px;
    font-weight: bolder;
}

.container{
    position: relative;
    margin: 20px 50px 50px 50px;
    padding: 20px;
}


/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #2C2C2C;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #131415;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}



/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #131415;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}
/* make a post button */
.makepostcontainer{
    background-color: #131415;
    position: relative;
    border-radius: 20px;
    top: 20px;
    width: 50%;
    margin: auto;
    padding: 20px;
}

.post{
    text-align: center;
    margin-bottom: 10px;
}
.post button{
    text-decoration: none;
    background-color: red;
    margin-right: 10px;
    margin-bottom: 20px;
    color: white;
}
/* post section */
.post-area{
    margin-bottom:50px;
}

.post-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 20px;
    margin-block: 20px;
    border-radius: 10px;
}

.post-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

#title{
    float: left;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.post-area input:hover{
    border: solid 1px #000000;
}

.hide{
    display: none;
}

/* Upvote */
.votecontainer {
    text-align: center;
    margin-top: 10px;
}
  
button {
    padding: 5px 10px;
    font-size: 9px;
}
  
.upvoteCount, .downvoteCount{
    font-size: 12px;
    font-weight: bold;
}

html::-webkit-scrollbar{
    width: 12px;
}

html::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgb(241, 11, 157));
    border-radius: 6px;
}

.mainpage-btn{
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    background: #800080;
    transition: all 0.2s ease;
}

.mainpage-btn:active{
    transform: scale(0.96);
}

.submit-btn{
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    background: #96235d;
    transition: all 0.2s ease;
}

.submit-btn:active{
    transform: scale(0.96);
}

.upvoteButton{
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    background: #13b00b;
    transition: all 0.2s ease;
}

.upvoteButton:active{
    transform: scale(0.96);
}

.downvoteButton{
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    background: #a80808;
    transition: all 0.2s ease;
}

.downvoteButton:active{
    transform: scale(0.96);
}

.makepost-btn{
    color: white;
    padding: 8px 22px;
    border-radius: 6px;
    background: #96235d;
    transition: all 0.2s ease;
}

.makepost-btn:active{
    transform: scale(0.96);
}

.reply-btn{
    color: black;
    padding: 8px 22px;
    margin-right: 5px;
    border-radius: 6px;
    background: #fff;
    transition: all 0.2s ease;
}

.reply-btn:active{
    transform: scale(0.96);
}

.x-btn{
    color: black;
    padding: 8px 22px;
    border-radius: 6px;
    background: #fff;
    transition: all 0.2s ease;
}

.x-btn:active{
    transform: scale(0.96);
}