<link rel="stylesheet" href="/static/css/logReg.css">

<h1> 404: Page cannot be found.</h1>
<div class="go_home">
    <a href="/posts">Back to homepage</a>
    <a href="/posts/currentuser/{{user.username}}">Testing </a>
</div> 
