<link rel="stylesheet" href="/static/css/navbar.css">
<header>
    <h2 class="logo">The Lobby</h2>
    <img src="/static/img/acrossthespiderverse.jpg" alt="">
    <div class="search-container">
        <form action="/posts/search" method="get">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    <nav class="navbar">
        <a href="/posts">Home</a>
        <a id="loginRegister" href="/login"> Login</a>
    </nav>
    </header> 