<link rel="stylesheet" href="/static/css/navbar.css">
<header>
    <h2 class="logo">The Lobby</h2>
        <img src="/static/img/acrossthespiderverse.jpg" alt="">
    <div class="search-container">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
    </div>`
    <nav class="navbar">
        <a href="#">Home</a>
        <a id="profile" href="/user/{{user.username}}/currentuser/{{user.username}}"> <img src="/{{user.photo}}" alt=""></a>
        <a id="logout" href="/posts"> Logout</a>
    </nav>
    </header> 