<div class="table-row">
    <div class="status"><i class="fa fa-fire"></i></div>
    <div class="subjects">
        <a href="detail1.html">{{this.title}}</a>
        <br>
        <span>Started by <b><a href="profile2.html">{{this.username}}</a></b> .</span>
    </div>
    <div class="replies">
        1 replies <br> 4 views
    </div>

    <div class="last-reply">
        June 20 2023
        <br>By <b><a href="profile4.html">Marcus</a></b>
    </div>
</div>